__pycache__/
*.pyc
*.swp
config.py
venv/
bin/
lib/
latex/bin/
latex/*.tex
latex/missfont.log
latex/logos/
documents/
.bash_history
.cache/
.config/
.psql_history
.rediscli_history
.viminfo
test/
*.sql
