# (local) database
SQLALCHEMY_DATABASE_URI = "postgresql://user:password@host/database" # change this
SQLALCHEMY_TRACK_MODIFICATIONS = False # do not change

SECRET_KEY = "something random" # change this

DEBUG = False

# mailserver (optional)
MAIL_ACTIVE = True
MAIL_FROM = "protokolle@example.com"
MAIL_HOST = "mail.example.com:465"
MAIL_USER = "user"
MAIL_PASSWORD = "password"

# (local) message queue (necessary)
CELERY_BROKER_URL = "redis://localhost:6379/0"
CELERY_TASK_SERIALIZER = "pickle" # do not change
CELERY_ACCEPT_CONTENT = ["pickle"] # do not change

# this websites address
URL_ROOT = "protokolle.example.com"
URL_PROTO = "https"
URL_PATH = "/"
URL_PARAMS = ""

# ldap server (necessary)
LDAP_PROVIDER_URL = "ldaps://auth.example.com:389"
LDAP_BASE = "dc=example,dc=example,dc=com"
LDAP_PROTOCOL_VERSION = 3 # do not change

# CUPS printserver (optional)
PRINTING_ACTIVE = True
PRINTING_SERVER = "printsrv.example.com:631"
PRINTING_USER = "protocols"
PRINTING_PRINTERS = [
    "example_printer": ["Duplex=DuplexNoTumble", "option2=value"],
    "other_printer": ["list", "of", "options"]
]

# etherpad (optional)
ETHERPAD_ACTIVE = True
ETHERPAD_URL = "https://example.com/etherpad"
EMPTY_ETHERPAD = """Welcome to Etherpad!

This pad text is synchronized as you type, so that everyone viewing this page sees the same text. This allows you to collaborate seamlessly on documents!

Get involved with Etherpad at http://etherpad.org

""" # do not change

# wiki (optional)
WIKI_ACTIVE = True
WIKI_API_URL = "https://wiki.example.com/wiki/api.php"
WIKI_ANONYMOUS = False
WIKI_USER = "user"
WIKI_PASSWORD = "password"
WIKI_DOMAIN = "domain" # set to None if not necessary

# CalDAV calendar (optional)
CALENDAR_ACTIVE = True
CALENDAR_URL = "https://user:password@calendar.example.com/dav/"
CALENDAR_DEFAULT_DURATION = 3 # default meeting length in hours
CALENDAR_MAX_REQUESTS = 10

SESSION_PROTECTION = "strong" # do not change

SECURITY_KEY = "some other random string" # change this

# lines of error description
ERROR_CONTEXT_LINES = 3

# pagination
PAGE_LENGTH = 20
PAGE_DIFF = 3

# upcoming meetings within this number of days from today are shown on the index page
MAX_INDEX_DAYS = 14

# mail to contact in case of complex errors
ADMIN_MAIL = "admin@example.com"

# accept protocols even with some errors
# useful for importing old protocols
# not recommended for regular operation
PARSER_LAZY = False

# minimum similarity (0-100) todos need to have to be considered equal
FUZZY_MIN_SCORE = 90

# choose something nice from fc-list
# Nimbus Sans looks very much like Computer Modern
FONTS = {
    "main": {
        "regular": "Nimbus Sans",
        "bold": "NimbusSans",
        "italic": "NimbusSans",
        "bolditalic": "NimbusSans"
    },
    "roman": {
        "regular": "Nimbus Roman",
        "bold": "Nimbus Roman",
        "italic": "Nimbus Roman",
        "bolditalic": "Nimbus Roman"
    },
    "sans": {
        "regular": "Nimbus Sans",
        "bold": "NimbusSans",
        "italic": "NimbusSans",
        "bolditalic": "NimbusSans"
    },
    "mono": {
        "regular": "Nimbus Mono PS",
        "bold": "Nimbus Mono PS",
        "italic": "Nimbus Mono PS",
        "bolditalic": "Nimbus Mono PS"
    }
}

# local filesystem path to save documents
DOCUMENTS_PATH = "documents"

# keywords indicating private protocol parts
PRIVATE_KEYWORDS = ["private", "internal", "privat", "intern"]

# list of bulletpoints to use in latex
LATEX_BULLETPOINTS = [
    r"\textbullet",
    r"\normalfont \bfseries \textendash",
    r"\textasteriskcentered",
    r"\textperiodcentered"
]
