alembic==1.3.1
amqp==2.5.2
appdirs==1.4.3
APScheduler==3.6.3
argh==0.26.2
bandit==1.6.2
billiard==3.6.1.0
blessings==1.7
blinker==1.4
bpython==0.18
caldav==0.6.2
celery==4.3.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
coverage==4.5.4
curtsies==0.3.0
dnspython==1.16.0
enum-compat==0.0.3
eventlet==0.25.1
feedgen==0.8.0
Flask==1.1.1
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
fuzzywuzzy==0.17.0
gitdb2==2.0.6
GitPython==3.0.5
greenlet==0.4.15
icalendar==4.0.4
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
kombu==4.6.7
ldap3==2.6.1
lxml==4.4.2
Mako==1.1.0
mando==0.6.4
MarkupSafe==1.1.1
mccabe==0.6.1
monotonic==1.5
nose==1.3.7
packaging==19.2
pathtools==0.1.2
pbr==5.4.4
psycopg2-binary==2.8.4
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.5.0
Pygments==2.5.2
pyldap==3.0.0.post1
pyparsing==2.4.5
python-dateutil==2.8.1
python-dotenv==0.10.3
python-editor==1.0.4
python-engineio==3.11.0
python-ldap==3.2.0
python-Levenshtein==0.12.0
python-pam==1.8.4
pytz==2019.3
PyYAML==5.2
raven==6.10.0
redis==3.3.11
regex==2019.12.9
requests==2.22.0
six==1.13.0
smmap2==2.0.5
SQLAlchemy==1.3.11
SQLAlchemy-Utils==0.36.0
stevedore==1.31.0
typing==3.7.4.1
tzlocal==2.0.0
urllib3==1.25.7
uwsgidecorators==1.1.0
vine==1.3.0
vobject==0.9.6.1
watchdog==0.9.0
wcwidth==0.1.7
Werkzeug==0.16.0
WTForms==2.2.1
