alembic
blinker
Flask
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-WTF
Flask-SocketIO
Jinja2
Mako
MarkupSafe
psycopg2
python-editor
SQLAlchemy
Werkzeug
wheel
WTForms
celery[redis]
regex
watchdog
