body {
    padding-top: 65px;
}

.alert {
    font-weight: bold;
    text-align: center;
}

.alert-error {
    color: #800000;
}

.alert-success {
    color: #008000;
}

.alert-warning {
    color: #808000;
}


