body {
    padding-top: 65px;
    padding-bottom: 10px;
}

.alert {
    font-weight: bold;
    text-align: center;
}

.alert-error {
    color: #800000;
}

.alert-success {
    color: #008000;
}

.alert-warning {
    color: #808000;
}

h2 > a, h3 > a {
    font-size: 18px;
}

form:not(.form-inline) {
    max-width: 350px;
    margin: 0 auto;
}

input[type="file"] {
    padding: 0;
}

.centered {
    text-align: center;
}

.centered > a, .centered > span {
    margin: 8px;
}

pre.error-description {
    white-space: pre-wrap;
}

.expansion-text {
    display: none;
}

textarea {
  border: 0 none white;
  padding: 0;
  outline: none;
  background-color: #d0d0d0;
}

.likes-div {
    display: inline-block;
    font-size: 10pt;
    background-color: #ddddff;
    border-radius: 3px;
    padding: 1px;
}

.likes-div > p {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.like-sign {
    font-size: 16px;
}

li.defaulttop {
    font-style: italic;
}
