body {
    padding-top: 65px;
    padding-bottom: 10px;
}

.alert {
    font-weight: bold;
    text-align: center;
}

.alert-error {
    color: #800000;
}

.alert-success {
    color: #008000;
}

.alert-warning {
    color: #808000;
}

h3 > a {
    font-size: 18px;
}

form:not(.form-inline) {
    max-width: 350px;
    margin: 0 auto;
}

input[type="file"] {
    padding: 0;
}

.centered {
    text-align: center;
}

.centered > a {
    margin: 8px;
}
