{% extends "documentation-base.html" %}
{% set active_page = "internal_syntax_documentation" %}
{% block title %}Syntax: Interne Abschnitte{% endblock %}

{% block documentation_content %}
    <h3>Syntax: Interne Abschnitte</h3>
	{% if config.PRIVATE_KEYWORDS|length > 0  %}
	<p>
	Das Protokollsystem unterstützt in einem öffentlichen Protokoll bestimmte Abschnitte als nicht-öffentlich/intern zu kennzeichnen. Diese internen Abschnitte werden nur Personen mit dem entsprechendem Recht angezeigt und auch nur in der internen pdf-Datei gedruckt. Die öffentliche Version des Protokolls enthält an dieser Stelle einen Hinweis, auf einen internen Abschnitt. Aus Gründen der Transparenz bietet es sich an vor oder nach dem internen Protokollieren dessen Inhalt zusammenzufassen.
	</p>
	<p>
	Beschlüsse sind im Protokollsystem immer öffentlich, daher ergibt es keinen Sinn diese in einem internen Abschnitt zu protokollieren.
	</p>
	<h4>Definition</h4>
	<p>
	Der interne Abschnitt wird eingeleitet mit einem der folgenden Wörter ({{config.PRIVATE_KEYWORDS|map("code")|join(" ")|safe}}) gefolgt von den üblichen geschweiften Klammern <code>{ ... }</code>. Zwischen den Klammern wird wie gewöhnlich protokolliert.
	</p>
	<div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title"><a data-toggle="collapse" href="#example_internal">Beispiel - Interner Bereich</a></h5>
        </div>
		<figure id="example_internal" class="panel-body panel-collapse collapse">
			<pre class="highlight"><code>{<span class="kr">TOP</span> <span class="sx">Tagesordnungspunkt</span>
	<span class="nv">Dieser Punkt ist öffentlich.</span>
	<span class="kr">{{config.PRIVATE_KEYWORDS[0]}}</span><span class="o">:</span> {
		<span class="nv">Dieser Punkt ist intern.</span>
		<span class="nv">Dieser auch, wir diskutieren Kritik an einem namentlich genannten Professor und seiner Vorlesung.</span>
		<span class="nv">Hier entwickeln wir eine Strategie.</span>
	}
	<span class="nv">Dieser ist wieder öffentlich.</span>
	<span class="nv">Es wurde die Krtik an einer Vorlesung kritsiert.</span>
}</code></pre>
		</figure>
	</div>
	{% else %}
	<div class="panel panel-warning">
        <div class="panel-heading">
            <h5 class="panel-title">Nutzung nicht vorgesehen</h5>
        </div>
        <div class="panel-body ">
			<p>
			Die Verwendung von internen Abschnitte ist hier bisher noch nicht vorgesehen. Um interne Abschnitte nutzen zu können, wende dich bitte an die <a href="mailto:{{config.ADMIN_MAIL}}">Admins</a> und lasse die Konfiguration durch sie entsprechend anpassen.
			</p>
		</div>
	</div>
	{% endif %}
{% endblock %}
