{% extends "documentation-base.html" %}
{% set active_page = "plan_sessionmanagement_documentation" %}

{% block documentation_content %}
    <h3>Planung</h3>
    <h4 id="planung">Sitzungsplanung</h4>
        Sollte das Protokoll noch nicht existieren:
        <ol>
            <li>Gehe auf <a href="{{url_for("new_protocol")}}">Neu</a></li>
            <li>Wähle bei „Typ“ den Typ der Sitzung aus.</li>
            <li>Gib das Datum der Sitzung ein.</li>
            <li>Anlegen</li>
        </ol>
        Wenn es existiert:
        <ol>
            <li>Gehe auf <a href="{{url_for("list_protocols")}}">Protokolle</a></li>
            <li>Wähle die Sitzung aus. Noch ausstehende Sitzungen sind ganz oben.</a>
        </ol>
        Auf der Seite der Sitzung siehst du die Tagesordnung.
        <ul>
            <li>Die ersten und letztes TOPs sind Standard-TOPs, die jede Sitzung hat. Die kannst du nur über beim Protokolltyp ändern, nicht beim Protokoll selbst.</li>
            <li>Die mittleren TOPs gehören nur zu dieser Sitzung. Du kannst welche hinzufügen oder sie umsortieren.</li>
            <li>Möchtest du zu einem TOP vorprotokollieren, so klicke auf ändern und füge unter "Beschreibung" deinen Inhalt ein (hier gilt die gleiche Syntax, wie im normalen Protokoll).</li>
            <li>Jedes selbstständige Thema oder jeder Antrag sollte in einen eigenen TOP geschrieben werden. Sammel-TOPs, oder TOPs mit allen finanzwirksamen Anträgen sorgen für wenig Übersichtlichkeit.</li>
            <li>Wir wünschen uns, dass TOPs so früh wie möglich auf die Tagesordnung geschrieben werden und unter "Beschreibung" kurz erläutert weird, worum es gehen soll. Sollte es in dem TOP darum gehen, dass Geld beantragt wird, sollte der TOP im Namen durch ein "(€)" gekennzeichnet werden."</li>
            <li>Solltest du die TOPs nicht bearbeiten können, handelt es sich um ein Protokoll, das du lesen, aber nicht bearbeiten kannst. Mehr dazu bei <a href="#rechte">Rechteverwaltung</a>.</li>
        </ul>
{% endblock %}
