{% extends "documentation-base.html" %}
{% set active_page = "sessionmanagement_documentation" %}
{% block title %}Sitzungsverwaltung{% endblock %}

{% block documentation_content %}
    <h3>Sitzungsverwaltung</h3>
	<p>
    Ein wesentlicher Bestandteil des Protokollsystems ist das Sitzungsmanagement. Neben dem <a href="{{url_for("plan_sessionmanagement_documentation")}}">Planen und Anlegen</a> verschiedener Sitzungstermine kann zu jeder Sitzung ein <a href="{{url_for("write_sessionmanagement_documentation")}}">Protokoll</a> verfasst und anschließend durch das System ausgegeben werden. Die <a href="{{url_for("tracking_sessionmanagement_documentation")}}">Nachverfolgung</a> von Ergebnissen ist im System in Form von Beschlüssen und Todos möglich.
	</p>
	<h4>Verwaltung im Detail</h4>
	<p>
	Die einzelnen Funktionen des Sitzungsmanagements werden jeweils auf Unterseiten erläutert. Auch werden die Arbeitsabläufe, wie sie im System vorgesehen sind, vorgestellt.
	</p>
	<ul>
		<li><a href="{{url_for("plan_sessionmanagement_documentation")}}">Planung</a></li>
		<li><a href="{{url_for("write_sessionmanagement_documentation")}}">Protokollieren</a></li>
		<li><a href="{{url_for("tracking_sessionmanagement_documentation")}}">Nachverfolgung</a></li>
	</ul>
	<p>
	Sollten die genannten Arbeitsabläufe nicht nachvollziehbar oder fehlerhaft sein, dann kontaktiere bitte das Entwicklungsteam der Software. Als Tipp: Je genauer du ein Problem beschreiben kannst, desto einfacher machst du es den betroffenen Personen selbiges zu fixen und desto schneller hast du eine Lösung.
	</p>
	
    <h4 id="suche">Suche</h4>
    <p>
	Einige Elemente der Sitzungsverwaltung sind durchsuchbar - dazu zählen <a href="{{url_for("list_protocols")}}">Protokolle</a>, <a href="{{url_for("list_todos")}}">Todos</a> und <a href="{{url_for("list_decisions")}}">Beschlüsse</a>. Auf jeder der Übersichtsseiten wird ein Suchfeld vorgehalten, das zur Eingabe genutzt werden kann.
	</p>
	<p>
    Im Suchfeld können mehrere durch Leerzeichen getrennte Suchbegriffe angegeben werden: <code>Begriff1 Begriff2</code>.<br/>
    Angezeigt werden alle Ergebnisse, die jeden der Suchbegriffe (unabhängig von Groß- oder Kleinschreibung) enthalten.<br/>
    Wenn ein Suchbegriff ein Leerzeichen beinhaltet, muss er mit Anführungszeichen umrandet werden: <code>"Begriff1 mit Leerzeichen" Begriff2</code>.
	</p>
{% endblock %}
