{% extends "layout.html" %}
{% from "macros.html" import render_table, render_form %}
{% block title %}Protokoll{% endblock %}

{% block content %}
<div class="container">
    <div class="btn-group">
        {% if protocol.protocoltype.has_modify_right(current_user()) %}
            <a class="btn {% if protocol.source is none %}btn-primary{% else %}btn-default{% endif %}" href="{{url_for("etherpull_protocol", protocol_id=protocol.id)}}">From etherpad</a>
            {% if protocol.source is not none %}
                <a class="btn btn-primary" href="{{url_for("get_protocol_source", protocol_id=protocol.id)}}">Download Quelltext</a>
            {% endif %} 
            <a class="btn {% if protocol.is_done() %}btn-success{% else %}btn-default{% endif %}" href="{{url_for("update_protocol", protocol_id=protocol.id)}}">Protokoll editieren</a>
            <a class="btn btn-default" href="{{protocol.get_etherpad_link()}}" target="_blank">Etherpad</a>
            <a class="btn btn-default" href="{{url_for("show_type", type_id=protocol.protocoltype.id)}}">Typ</a>
            <a class="btn btn-danger" href="{{url_for("delete_protocol", protocol_id=protocol.id)}}" onclick="return confirm('Bist du dir sicher, dass du das Protokoll {{protocol.get_identifier()}} löschen möchtest?');">Löschen</a>
        {% endif %}
    </div>
    <div class="row">
        <div id="left-column" class="col-lg-6">
            <h2>Protokoll: {{protocol.protocoltype.name}} {% if protocol.date is not none %}vom {{protocol.date|datify}}{% endif %}</h2>
            {% if protocol.is_done() %}
                {% if protocol.date is not none %}
                    <p><strong>Datum:</strong> {{protocol.date|datify_long}}</p>
                {% endif %}
                {% if protocol.start_time is not none and protocol.end_time is not none %}
                    <p><strong>Zeit:</strong> von {{protocol.start_time|timify}} bis {{protocol.end_time|timify}}</p>
                {% endif %}
                {% if protocol.location is not none %}
                    <p><strong>Ort:</strong> {{protocol.location}}</p>
                {% endif %}
                {% if protocol.author is not none %}
                    <p><strong>Protokollant:</strong> {{protocol.author}}</p>
                {% endif %}
                {% if protocol.participants is not none %}
                    <p><strong>Anwesende:</strong> {{protocol.participants}}</p>
                {% endif %}
            {% else %}
                {% if protocol.date is not none %}<p><strong>Geplant:</strong> {{protocol.date|datify_long}}{% endif %}</p>
            {% endif %}

            <h3>Tagesordnung</h3>
            <ul>
            {% if not protocol.has_nonplanned_tops() %}
                {% for default_top in protocol.protocoltype.default_tops %}
                    {% if not default_top.is_at_end() %}
                        <li>{{default_top.name}}</li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% for top in protocol.tops %}
                <li>{{top.name}}</li>
            {% endfor %}
            {% if not protocol.has_nonplanned_tops() %}
                {% for default_top in protocol.protocoltype.default_tops %}
                    {% if default_top.is_at_end() %}
                        <li>{{default_top.name}}</li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </ul>

            {% if protocol.is_done() %}
            <h3>Beschlüsse</h3>
            <ul>
                {% for decision in protocol.decisions %}
                    <li>{{decision.content}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div id="right-column" class="col-lg-6">
            {% if protocol.is_done() %}
                <h3>Todos dieser Sitzung <a href="{{url_for("list_todos")}}">Aktuelle Todos</a></h3>
                <ul>
                    {% if protocol.get_originating_todos()|length > 0 %}
                        {% for todo in protocol.get_originating_todos() %}
                            <li>{{todo.render_html()|safe}}</li>
                        {% endfor %}
                    {% else %}
                        <li>Keine Todos</li>
                    {% endif %}
                </ul>
            {% endif %}
            {% if protocol.protocoltype.has_modify_right(current_user()) %}
                {% if protocol.errors|length > 0 %}
                    {{render_table(errors_table)}}
                {% endif %}
            {% endif %}
            {% if protocol.documents|length > 0 %}
                {{render_table(documents_table)}}
            {% else %}
                <h3>Hochladen</h3>
            {% endif %}
            {% if protocol.protocoltype.has_modify_right(current_user()) %}
            {{render_form(source_upload_form, action_url=url_for("upload_source_to_known_protocol", protocol_id=protocol.id, next=url_for("show_protocol", protocol_id=protocol.id)), action_text="Hochladen", enctype="multipart/form-data")}}
            {{render_form(document_upload_form, action_url=url_for("upload_document", protocol_id=protocol.id, next=url_for("show_protocol", protocol_id=protocol.id)), action_text="Hochladen", enctype="multipart/form-data")}}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
