{% extends "layout.html" %}
{% from "macros.html" import render_form %}
{% block title %}Protokoll anlegen{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div id="left-column" class="col-lg-6">
            <h3>Neues Protokoll</h3>
            {{render_form(form, action_url=url_for("new_protocol"), action_text="Anlegen")}}
        </div>
        <div id="left-column" class="col-lg-6">
            <h3>Neues Protokoll hochladen</h3>
            {{render_form(upload_form, action_url=url_for("upload_new_protocol", fail=url_for("new_protocol")), action_text="Hochladen", enctype="multipart/form-data")}}
        </div>
    </div>
</div>
{% endblock %}
