{% extends "layout.html" %}
{% from "macros.html" import render_table, render_form %}
{% block title %}Protokoll{% endblock %}

{% set logged_in = check_login() %}
{% set user = current_user() %}
{% set has_public_type_view_right = protocol.protocoltype.has_public_view_right(user) %}
{% set has_public_view_right = protocol.has_public_view_right(user) %}
{% set has_private_view_right = protocol.has_private_view_right(user) %}
{% set has_modify_right = protocol.has_modify_right(user) %}
{% set has_admin_right = protocol.has_admin_right(user) %}

{% block content %}
<div class="container">
    {% if has_modify_right %}
        <div class="btn-group">
            {% if has_modify_right %}
                {% if config.ETHERPAD_ACTIVE %}
                <a class="btn {% if protocol.source is none %}btn-primary{% else %}btn-default{% endif %}" href="{{url_for("etherpull_protocol", protocol_id=protocol.id)}}">Aus Etherpad</a>
                {% endif %}
                {% if protocol.source is not none %}
                    <a class="btn btn-primary" href="{{url_for("get_protocol_source", protocol_id=protocol.id)}}">Quelltext</a>
                {% endif %} 
                <a class="btn {% if protocol.is_done() %}btn-success{% else %}btn-default{% endif %}" href="{{url_for("update_protocol", protocol_id=protocol.id)}}">Editieren</a>
                {% if not protocol.is_done() %}
                    <a class="btn btn-default" href="{{url_for("get_protocol_template", protocol_id=protocol.id)}}">Vorlage</a>
                    {% if config.ETHERPAD_ACTIVE %}
                    <a class="btn btn-primary" href="{{url_for("etherpush_protocol", protocol_id=protocol.id)}}">Etherpad</a>
                    {% endif %}
                {% else %}
                    {% if config.MAIL_ACTIVE %}
                        <a class="btn btn-default" href="{{url_for("send_protocol", protocol_id=protocol.id)}}">Mail versenden</a>
                    {% endif %}
                    {% if not protocol.public %}
                        <a class="btn btn-default" href="{{url_for("publish_protocol", protocol_id=protocol.id)}}">Veröffentlichen</a>
                    {% endif %}
                {% endif %}
                <a class="btn btn-default" href="{{url_for("show_type", protocoltype_id=protocol.protocoltype.id)}}">Typ</a>
                {% if protocol.has_compiled_document() %}
                    <a class="btn btn-success" href="{{url_for("download_document", document_id=protocol.get_compiled_document().id)}}">Download</a>
                {% endif %}
                {% if has_admin_right %}
		    <a class="btn btn-default" href="{{url_for("recompile_protocol", protocol_id=protocol.id)}}">Neu kompilieren</a>
		    <a class="btn btn-danger" href="{{url_for("delete_protocol", protocol_id=protocol.id)}}" onclick="return confirm('Bist du dir sicher, dass du das Protokoll {{protocol.get_identifier()}} löschen möchtest?');">Löschen</a>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
    <div class="row">
        <div id="left-column" class="col-lg-6">
            {% if protocol.is_done() %}
                <h2>Protokoll: {{protocol.protocoltype.name}} {% if protocol.date is not none %}vom {{protocol.date|datify}}{% endif %}</h2>
            {% else %}
                <h2>{{protocol.protocoltype.name}} {% if protocol.date is not none %}am {{protocol.date|datify}}{% endif %}</h2>
            {% endif %}
            {% if protocol.is_done() %}
                {% if protocol.date is not none %}
                    <p><strong>Datum:</strong> {{protocol.date|datify_long}}</p>
                {% endif %}
                {% if protocol.start_time is not none and protocol.end_time is not none %}
                    <p><strong>Zeit:</strong> von {{protocol.start_time|timify}} bis {{protocol.end_time|timify}}</p>
                {% endif %}
                {% for meta in protocol.metas %}
                    <p><strong>{{meta.name}}:</strong> {{meta.value}}</p>
                {% endfor %}
            {% else %}
                {% if protocol.date is not none %}<p><strong>Geplant:</strong> {{protocol.date|datify_long}}{% endif %}</p>
            {% endif %}

            <h3>Tagesordnung{% if has_modify_right and not protocol.has_nonplanned_tops() %} <a href="{{url_for("new_top", protocol_id=protocol.id)}}">Top hinzufügen</a>{% endif %}</h3>
            {% include "protocol-tops-include.html" %}

            {% if protocol.is_done() %}
                <h3>Beschlüsse</h3>
                <ul>
                    {% if protocol.decisions|length > 0 %}
                        {% if has_public_view_right %}
                            {% for decision in protocol.decisions %}
                                <li>
                                    {{decision.content}}
                                    {% if config.PRINTING_ACTIVE and has_private_view_right and decision.document is not none %}
                                        <a href="{{url_for("print_decision", document_id=decision.document.id)}}">Drucken</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        {% else %}
                            <li>Protokoll und Beschlüsse sind in einem eingeschränkten Netzwerk sichtbar.</li>
                        {% endif %}
                    {% else %}
                        <li>Keine Beschlüsse</li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
        <div id="right-column" class="col-lg-6">
            {% if protocol.is_done() and has_public_view_right and logged_in %}
                <h3>Todos dieser Sitzung <a href="{{url_for("list_todos")}}">Aktuelle Todos</a> <a href="{{url_for("new_todo", protocol_id=protocol.id)}}">Neu</a></h3>
                <ul>
                    {% if protocol.get_originating_todos()|length > 0 %}
                        {% for todo in protocol.get_originating_todos() %}
                            <li>{{todo.render_html()|safe}}</li>
                        {% endfor %}
                    {% else %}
                        <li>Keine Todos</li>
                    {% endif %}
                </ul>
            {% endif %}
            {% if has_modify_right %}
                {% if protocol.errors|length > 0 %}
                    {{render_table(errors_table)}}
                {% endif %}
            {% endif %}
            {% if protocol.documents|length > 0 and has_public_view_right %}
                {{render_table(documents_table)}}
            {% else %}
                {% if has_modify_right %}
                    <h3>Hochladen</h3>
                {% endif %}
            {% endif %}
            {% if has_modify_right %}
                {{render_form(source_upload_form, action_url=url_for("upload_source_to_known_protocol", protocol_id=protocol.id, next=url_for("show_protocol", protocol_id=protocol.id)), action_text="Hochladen", enctype="multipart/form-data")}}
                {{render_form(document_upload_form, action_url=url_for("upload_document", protocol_id=protocol.id, next=url_for("show_protocol", protocol_id=protocol.id)), action_text="Hochladen", enctype="multipart/form-data")}}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
