{% extends "layout.html" %}
{% from "macros.html" import render_form %}
{% block title %}TOP hinzufügen{% endblock %}

{% set loggedin = check_login() %}
{% set user = current_user() %}
{% set has_public_type_view_right = protocol.protocoltype.has_public_view_right(user) %}
{% set has_public_view_right = protocol.has_public_view_right(user) %}
{% set has_private_view_right = protocol.has_private_view_right(user) %}
{% set has_modify_right = protocol.has_modify_right(user) %}

{% block content %}
<div class="container">
    <div class="row">
        <div id="left-column" class="col-lg-6">
            <h3>Tagesordnung</h3>
            {% include "protocol-tops-include.html" %}
        </div>
        <div id="right-column" class="col-lg-6">
            <h3>TOP hinzufügen</h3>
            {{render_form(form, action_url=url_for("new_top", protocol_id=protocol.id, next=url_for("show_protocol", protocol_id=protocol.id)), action_text="Anlegen")}}
        </div>
    </div>
</div>
{% endblock %}
