{% extends "layout.html" %}
{% from "macros.html" import render_table, render_single_table %}
{% block title %}Protokolltyp {{protocoltype.short_name}}{% endblock %}

{% block content %}
<div class="container">
    {{render_single_table(protocoltype_table)}}
    {{render_table(default_tops_table)}}
    Standard-TOPs mit negativer Sortierung werden vor und die mit positiver Sortierung nach den TOPs eingefügt.
    {% if mail_active %}
        {{render_table(reminders_table)}}
    {% endif %}
    {{render_table(metas_table)}}
</div>
{% endblock %}
